{% extends 'base/principal.html' %}
{% block content %}

<h1>Gestión de Usuarios</h1>

<table>
    <thead>
        <tr>
            <th>Nombre de Usuario</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for usuario in usuarios %}
        <tr>
            <td>{{ usuario.username }}</td>
            <td>
                <a href="{% url 'eliminar-usuario' usuario.id %}">&#x274C; Eliminar</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock content %}
