{% extends 'base/principal.html' %}
{% block content %}

<div class="barra-superior">
    <h1>Lista de Usuarios del Sistema</h1>
</div>

<table>
    <thead>
        <tr>
            <th>Nombre de usuario</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for usuario in usuarios_normales %}
        <tr>
            <td>{{ usuario.username }}</td>
            <td>
                <form method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="user_id" value="{{ usuario.id }}">
                    <button type="submit" name="confirmar_eliminar" value="1" onclick="return confirm('¿Estás seguro de que deseas eliminar a {{ usuario.username }}?')">Eliminar</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<a href="{% url 'tareas' %}">Volver a la lista de tareas</a>

{% endblock content %}

