{% extends 'principal.html' %}
{% load custom_filters %}


{% block content %}
<div class="barra-superior">
    <div>
        <h1>Mis Cotizaciones</h1>
    </div>
    {% if request.user.is_authenticated %}
        <a href="{% url 'logout' %}">Salir</a>
        <a href="{% url 'cotizar' %}">Realizar otra cotización</a>
    {% else %}
        <a href="{% url 'login' %}">Ingresar</a>
    {% endif %}
</div>

<!-- Formulario de filtrado por fechas -->
<div class="cuerpo-tarjeta">
    <form method="get" class="form-fecha-filtrado">
        Fecha inicio: <input type="date" name="fecha_inicio" value="{{ request.GET.fecha_inicio }}">
        Fecha fin: <input type="date" name="fecha_fin" value="{{ request.GET.fecha_fin }}">
        <input type="submit" value="Filtrar">
    </form>
</div>

<div class="cuerpo-tarjeta">
    <table class="table">
        <thead>
            <tr>
                <th>Marca</th>
                <th>Modelo</th>
                <th>Año</th>
                <th>Valor</th>
                <th>Tipo de Siniestro</th>
                <th>Valor Cotizado</th>
                <th>Pérdida</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for cotizacion in cotizaciones %}
            <tr>
                <td>{{ cotizacion.vehiculo.marca }}</td>
                <td>{{ cotizacion.vehiculo.modelo }}</td>
                <td>{{ cotizacion.vehiculo.año }}</td>
                <td>{{ cotizacion.vehiculo.valor }}</td>
                <td>{{ cotizacion.vehiculo.tipo_siniestro }}</td>
                <td>{{ cotizacion.valor_cotizado }}</td>
                <td>{{ cotizacion.vehiculo.valor|subtract:cotizacion.valor_cotizado }}</td>
                <td>
                    <a href="{% url 'editar_cotizacion' cotizacion.vehiculo.pk %}" class="btn">Editar</a>
                    <a href="{% url 'eliminar_cotizacion' cotizacion.pk %}" class="btn-danger">Eliminar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<div class="cuerpo-tarjeta">
    <strong>Pérdidas totales en el rango seleccionado: </strong> {{ perdidas_totales }}
</div>

{% endblock %}


