{% extends 'principal.html' %}

{% block content %}
<h1>Mis Cotizaciones</h1>

<table class="table">
    <thead>
        <tr>
            <th>Marca</th>
            <th>Modelo</th>
            <th>Año</th>
            <th>Valor</th>
            <th>Tipo de Siniestro</th>
            <th>Valor Cotizado</th>
            <th>Acciones</th>  <!-- Esta columna es para los botones de editar y eliminar -->
        </tr>
    </thead>
    <tbody>
        {% for cotizacion in cotizaciones %}
        <tr>
            <td>{{ cotizacion.vehiculo.marca }}</td>
            <td>{{ cotizacion.vehiculo.modelo }}</td>
            <td>{{ cotizacion.vehiculo.año }}</td>
            <td>{{ cotizacion.vehiculo.valor }}</td>
            <td>{{ cotizacion.vehiculo.tipo_siniestro }}</td>
            <td>{{ cotizacion.valor_cotizado }}</td>
            <td>
                <!-- Botón para editar la cotización -->
                <a href="{% url 'editar_cotizacion' cotizacion.vehiculo.pk %}" class="btn">Editar</a>
                <!-- Botón para eliminar la cotización -->
                <a href="{% url 'eliminar_cotizacion' cotizacion.pk %}" class="btn btn-danger">Eliminar</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
